<div id="card-body">
  <section>
    <div id="card-block">
      <h1 class="headline_left">ORDER</h1>
      <nav>
        <ul class="order-info-items">
          <li class="order-info__item">Backet</li>
          <li class="order-info__item">Billing information</li>
          <li class="order-info__item">Check order</li>
          <li class="order-info__item">Order is processed</li>
        </ul>
        <img class="line-question" src="../../../assets/faq/line_question.png">
        <p class="text-price_left">Price including VAT</p>
        <img class="line-question" src="../../../assets/faq/line_question.png">
      </nav>
    </div>

    <div *ngIf="orderedGames.size !== 0">
      <div id="order-block" *ngFor="let game of orderedGames | keyvalue">
        <div class="order-game-info">
          <div class="order-game-info__img-block">
            <img class="order-game-info__img" src="{{game.value.image}}">
          </div>
          <div class="order-game-info__text-block">
            <h2 class="order-game-info__game-headline">{{game.value.name}}</h2>
            <p class="order-game-info__game-description">{{game.value.longDescription}}</p>
          </div>
          <div class="game_modal_window_price_block">
            <p *ngIf="game.value.oldPrice" class="games_text_old_price">${{game.value.oldPrice}}</p>
            <p *ngIf="game.value.oldPrice" class="order_text_discount">{{getDiscount(game.value)}}% off</p>
            <p [ngClass]="game.value.oldPrice ? 'games_text_price' : 'games_text_new_price'">${{game.value.newPrice}}</p>
            <button class="games_button_delete" (click)="deleteGameFromOrder(game.value)">DELETE</button>
          </div>
        </div>
        <img class="line-question" src="../../../assets/faq/line_question.png">
      </div>
    </div>

    <div id="order-status">
      <div id="order-info">
        <p class="order-info__total-headline">Total interim amount, including vat</p>
        <p id="order-info__total-price">${{amount}}</p>
      </div>
      <p class="order-status__footnote">Prices and special offers for products included in the cart may change if they are not
        placed an order.<br>
        Possible payment methods: We offer standard payment methods for international payments. Additional
        information on specific payment methods available
        to you will be provided during the order process.</p>
      <div class="order-checkout">
        <button class="order-checkout__btn" *ngIf="orderedGames.size !== 0">CONTINUE</button>
      </div>
    </div>
  </section>
</div>
