<header>
  <div id="header" class="header">
    <div class="logo">
      <img src="../../../assets/images/logo.png" routerLink="/main">
    </div>
    <nav class="menu">
      <ul>
        <li class="header_menu" routerLink="/main">MAIN</li>
        <li class="red_line_menu"></li>
        <li class="header_menu" routerLink="/all-games">GAMES</li>
        <li class="red_line_menu"></li>
        <li class="header_menu" routerLink="/faq">F.A.Q</li>
        <li class="red_line_menu"></li>
        <li id="basket" routerLink="/card">
          <div *ngIf="orderService.counter" class="game_counter">{{orderService.counter}}</div>
        </li>
        <li class="header_menu" routerLink="/card">CARD</li>
      </ul>
    </nav>
  </div>
</header>
