<div id="faq-body">
  <section>
    <h1 class="headline">F.A.Q</h1>

    <form class="search-form">
      <div class="search-form__input-container">
        <input class="search-form__input" #search type="text" value="" placeholder="Enter text..." autofocus>
        <button class="search-form__btn-turn-back" value=" " type="reset" title="Cancel search" (click)="turnBack()">
          <img class="search-form__img-close" src="../../../assets/images/close.png">
        </button>
      </div>
      <button class="search-form__btn-search" type="submit" value=" " title="Search" (click)="faqSearch(search.value)">
        <span class="search-form__btn-search-items">
          <img class="search-form__btn-search-img" src="../../../assets/faq/search.png">Search
        </span>
      </button>
    </form>

    <div id="faq-questions" class="faq-questions-block">
      <img class="line-question" src="../../../assets/faq/line_question.png">
      <div class="faq-questions-block__quest-and-answers" *ngFor="let questAnsw of filteredQuestionsAnswers">
        <h2 class="faq-questions-block__question">{{questAnsw.question}}</h2>
        <p class="faq-questions-block__answer">{{questAnsw.answer}}</p>
        <img class="line-question" src="../../../assets/faq/line_question.png">
      </div>
    </div>
  </section>

  <app-feedback-form></app-feedback-form>

</div>
