<div class="modal_window_game_info">
  <div class="img_game_modal_window_block">
    <img src={{game.image}} class="img_game_modal_window">
  </div>
  <div class="game_modal_window_text">
    <h2 class="headline_modal_window_game_info">{{game.name}}</h2>
    <p class="modal_games_text_description">{{game.longDescription}}</p>
    <div class="game_modal_window_price_block">
      <p *ngIf="game.oldPrice"
         class="games_text_old_price">${{game.oldPrice}}</p>
      <p *ngIf="game.oldPrice"
         class="modal_window_games_text_discount">{{getDiscount(game)}}% off</p>
      <p [ngClass]="game.oldPrice ? 'games_text_price' : 'games_text_new_price'">${{game.newPrice}}</p>
    </div>
    <div class="game_buttons_modal_window">
      <button class="games_button_buy_now" [mat-dialog-close] routerLink="/card" (click)="addToOrder(game)">BUY NOW</button>
      <button class="games_button_add_card" [mat-dialog-close] (click)="addToOrder(game)">ADD TO CARD</button>
    </div>
  </div>
  <button class="close_modal_window_game_info" (click)="closeModal()"></button>
</div>


