<div id="games_body">
<section>
  <h1 class="headline"><span class="text_red">ALL</span> GAMES</h1>
  <div id="buttons_games_genre">
    <button class="buttons_genre" id="all_games_genre"
            (click)="renderGamesByGenre(null)">ALL</button>
    <button class="buttons_genre" id="rpg_genre"
            (click)="renderGamesByGenre(genre.RPG)">RPG</button>
    <button class="buttons_genre" id="sandbox_genre"
            (click)="renderGamesByGenre(genre.Sandbox)">SANDBOX</button>
    <button class="buttons_genre" id="survival_genre"
            (click)="renderGamesByGenre(genre.Survival)">SURVIVAL</button>
    <button class="buttons_genre" id="action_adventure_genre"
            (click)="renderGamesByGenre(genre.Action_Adventure)">ACTION & ADVENTURE</button>
    <button class="buttons_genre" id="shooter_genre"
            (click)="renderGamesByGenre(genre.Shooter)">SHOOTER</button>
    <button class="buttons_genre" id="role_playing_genre"
            (click)="renderGamesByGenre(genre.Role_playing)">ROLE-PLAYING</button>
  </div>
</section>
  <main>
    <div id="games_section">
      <app-game *ngFor='let game of filteredGames' [(game)]="game" [isMainSection]='false'></app-game>
    </div>
  </main>
  <section>
    <h1 class="headline"><span class="text_red">VIDEO</span> REVIEW</h1>
    <div id="video_review">
      <div class="block_video_review">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/mIAZReKCosc"
                frameborder="0" allowfullscreen></iframe>
        <div class="block_video_text">
          <p class="headline_video"><span class="text_yellow">Fallout 76</span> Review</p>
          <img class="video_description_line" src="../../../assets/images/red_line_gorizont.png">
          <p class="video_description">Fallout 76 Reviewed by Brandin Tyrrel
            on PC, Xbox One X, and PlayStation 4 Pro.
            Fallout 76: Review In Progress Update 2 ...</p>
        </div>
      </div>
      <div class="block_video_review">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/tCp21u6Fxjs"
                frameborder="0" allowfullscreen></iframe>
        <div class="block_video_text">
          <p class="headline_video"><span class="text_yellow">Dragon Age: Inquisition
                </span> Review</p>
          <img class="video_description_line" src="../../../assets/images/red_line_gorizont.png">
          <p class="video_description">With the entertaining and thematically rich
            Inquisition, the Dragon Age series returns to
            its former glory. Read Kevin's in-depth ...</p>
        </div>
      </div>
    </div>
  </section>
</div>
